* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 10px;
    height: 100vh;
    /* border: 1px solid rgb(255, 255, 255); */
    font-family: "Bebas Neue", sans-serif;
    background-color: black;
    color: white;

}

.main-div {
    height: 100%;
    display: flex;
    flex-direction: column;
}

h1 ,.second-section h3{
    font-size: 100px;
    font-weight: 700;
    color: #B51414;
}

p {
    font-size: 40px;
    line-height: 45px;
}

.main-section {
    flex: 1;
}

footer {
    gap: 10px;
    padding: 25px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    background-color: rgb(126, 32, 32);
}

footer a {
    all: unset;
    cursor: pointer;
    font-size: 24px;
    font-weight: 600;
    padding: 8px 24px;
    font-family: "Bebas Neue", sans-serif;
    letter-spacing: 6px;
    width: fit-content;
    border: none;
    color: black;

}

a {
    all: unset;
    cursor: pointer;
    font-size: 24px;
    font-weight: 600;
    padding: 8px 24px;
    font-family: "Bebas Neue", sans-serif;
    letter-spacing: 1px;
    width: fit-content;
    border: none;

}

h4 {
    font-size: 50px;
    letter-spacing: 5px;
}

.season {
    gap: 80px;


    margin: 40px 0px;
}

.season-div-one {
    display: flex;
    gap: 80px;
    
}

iframe {
    margin-top: 20px;
}

.iframe-div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

.season img {


    height: 550px;

}


.second-section{
    color: white;
}



ul{
    font-size: 35px;
}



a:hover {
    color: white;
    background-color: black;
}